{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{%endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'blogs/css/bootstrap.min.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
		<style type="text/css">
			.row{
			display: flex;
			margin-left: auto;
			margin-right: auto;
			width: 80em;
			}
			.book img{
				width: 237px;
				height: 284px;
				object-fit: cover;
			}
		</style>

		<div class="container">
			<div class="row row-cols-1 row-cols-md-3 g-3">
				{% block content %}
				{% endblock content %}
			</div>
		</div>
			<script src="{% static 'blogs/js/bootstrap.bundle.min.js' %}"></script>

</html>
